# Validator Address
VALIDATOR_ADDRESS=

# Mantle Network RPC URLs
MANTLE_SEPOLIA_RPC_URL=https://rpc.sepolia.mantle.xyz

# Private key for deployment 
PRIVATE_KEY=

# Block Explorer API Keys
ETHERSCAN_API_KEY=

# AVS Configuration
MINIMUM_STAKE=100000000000000000000
MUSD_TOKEN_ADDRESS=
ISSUES_CLAIM_ADDRESS=
AVS_CONTRACT_ADDRESS=
VALIDATOR_PRIVATE_KEY=
